.about-section {
    padding: 120px 0 115px;

    h2 {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    @media (max-width: $breakpointMediumMax) {
        padding: 100px 0 95px;
    }

    @media (max-width: $breakpointXsmallMax) {
        padding: 65px 0 70px;
    }
}

.about-inner {
    z-index: 1;
    position: relative;

    p {
        margin-bottom: 55px;
        text-align: center;
        font-size: 30px;
        line-height: 1.4;
    }

    ul {
        margin-bottom: 40px;
        padding-left: 0;

        li {
            margin-bottom: 15px;

            &:not(:first-of-type) {
                margin-left: 50px;
            }
        }
    }

    .uk-button {
        text-align: center;
        padding: 8px 28px 7px;
    }

    @media (max-width: $breakpointMediumMax) {
        p {
            font-size: 28px;
            margin-bottom: 40px;
        }
    }

    @media (max-width: $breakpointXsmallMax) {
        padding-left: 20px;
        padding-right: 20px;

        p {
            font-size: 22px;
        }

        ul {
            margin-top: 45px;

            li:not(:first-of-type) {
                margin-left: 20px;
            }
        }
    }
}
