.listings-section {
    padding-bottom: 60px;

    h2 {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .uk-switcher {
        margin-bottom: 50px;
    }

    @media (max-width: $breakpointMediumMax) {
        .uk-switcher {
            margin-bottom: 35px;
        }
    }

    @media (max-width: $breakpointXsmallMax) {
        padding-bottom: 50px;

        .uk-switcher {
            margin-bottom: 33px;
        }
    }
}

.listings-inner {
    margin-top: -180px;

    @media (max-width: $breakpointMediumMax) {
        margin-top: -130px;
    }

    @media (max-width: $breakpointXsmallMax) {
        margin-top: -55px;
    }
}

.listings-nav {
    margin-bottom: 40px;
    padding-left: 0;

    li:not(:first-of-type) {
        padding-left: 20px;
    }

    button {
        font-weight: bold;
        font-size: 13px;
        color: $gray-lightest;
        position: relative;

        &::after {
            position: absolute;
            color: inherit;
            bottom: 10px;
            height: 4px;
            content: '';
            background-color: $gray-lightest;
            transition: inherit;
        }

        &.car {
            padding: 12px 0 23px 57px;

            span {
                left: 0;
                top: 0;
                position: absolute;

                &::before {
                    font-size: 44px;
                    transform: translateY(20%);
                }
            }

            &::after {
                left: 57px;
                width: calc(100% - 57px);
            }
        }

        &.trailer {
            padding: 12px 0 23px 70px;

            span {
                left: 0;
                top: 0;
                position: absolute;

                &::before {
                    font-size: 70px;
                    transform: translateY(-8%);
                }
            }

            &::after {
                left: 70px;
                width: calc(100% - 70px);
            }
        }

        @include hover {
            color: $yellow;

            &::after {
                background-color: $yellow;
            }
        }
    }

    .uk-active button {
        color: $yellow;

        &::after {
            background-color: $yellow;
        }
    }
    @media (max-width: $breakpointMediumMax) {
        margin-bottom: 35px;
    }
}

.listings-slider {

    .uk-card-media {
        position: relative;
        border-bottom: 7px solid transparent;

        img {
            width: 100%;
        }
    }

    .uk-label {
        position: absolute;
        padding: 8px 0 7px;
        text-align: center;
        min-width: 100px;
        background-color: $yellow;
        color: $gray-dark;
        top: 10px;
        right: 10px;
        font-family: $font-black;
        font-size: 21px;
    }

    .uk-card-body {
        padding: 20px 20px 55px;
        background-color: $gray-dark;
        transition: $nbSec ease-in-out;

        >span {
            color: $white;
            font-family: $font-medium;
            font-size: 13px;
        }

        h3 {
            font-size: 18px;
            color: $blue-mid;
            margin-top: 3px;

            abbr {
                text-decoration: none;
            }

            >span {
                color: $white;
            }
        }
    }

    .uk-card {
        @include hover {
            .uk-card-body {
                background-color: $gray-card;
            }
        }
    }

    .uk-slidenav-container {
        right: 0;
        position: absolute;
        top: -65px;
    }

    .uk-slidenav {
        width: 40px;
        height: 40px;
        border: 2px solid $yellow;
        border-radius: 50%;
        position: relative;
        transition: $nbSec ease-in-out;

        svg {
            display: none;
        }

        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 12px;
            color: $white;
            font-family: 'svgicons';
            transition: inherit;
        }

        @include hover {
            background-color: $yellow;
        }

        &.uk-slidenav-previous {
            margin: 0 5px 0 0;

            &::after {
                content: font-char($chevron-left);
            }
        }

        &.uk-slidenav-next {
            margin: 0 0 0 5px;

            &::after {
                content: font-char($chevron-right);
            }
        }
    }

    @media (max-width: $breakpointMediumMax) {
        .uk-grid {
            margin-left: -15px;

            >* {
                padding-left: 15px;
            }
        }

        .uk-card-media {
            border-bottom-width: 9px;
        }

        .uk-label {
            font-size: 19px;
        }

        .uk-card-body {
            padding: 20px 20px 40px;

            h3 {
                font-size: 17px;
            }
        }
    }

    @media (max-width: $breakpointXsmallMax) {
        .uk-grid {
            margin-left: 0;

            >* {
                padding-left: 0;
            }
        }

        .uk-slidenav-container {
            position: relative;
            right: auto;
            top: auto;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        .uk-card-media {
            border-bottom-width: 10px;
        }
    }
}
