.newsletter-section {
    padding-bottom: 190px;
    position: relative;

    &::after {
        z-index: 0;
        right: 0;
        position: absolute;
        bottom: 0;
        width: 1200px;
        height: 1200px;
        content: '';
        background-color: $gray-shade-dark;
        transform: rotate(45deg) translateX(74%);
        box-shadow: 0 20px 28px 17px rgba($black, .2);
    }

    >.uk-container {
        position: relative;
        z-index: 1;
    }

    .newsletter-box:first-of-type {
        background-color: $blue-light;
        padding: 80px 0 70px;
        position: relative;

        &::after {
            position: absolute;
            right: 100%;
            width: 100%;
            top: 0;
            bottom: 0;
            background-color: inherit;
            content: '';
        }
    }

    h2 {
        color: $gray-dark;
        font-size: 30px;

        span {
            font-family: $font-black;
            position: relative;

            &::after {
                position: absolute;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: $gray-dark;
                content: '';
                bottom: 0;
            }
        }
    }

    form {
        width: 100%;
        position: relative;

        .uk-input {
            width: 100%;
            border-left: 2px solid $blue-soft;
            border-top: 2px solid $blue-soft;
            border-bottom: 2px solid $blue-soft;
            border-right: 0;
            padding: 11px 20px;
            min-height: 58px;

            &::placeholder {
                font-size: 15px;
                color: $gray-place;
            }
        }

        .uk-button {
            position: absolute;
            left: 100%;
            top: 0;
            min-height: 57px;
            padding-left: 55px;
            min-width: 135px;
            text-align: left;
            padding-right: 0;

            >span {
                right: auto;
                left: 20px;
                transform: translateY(-46%);

                &::before {
                    content: font-char($paper-plane);
                    font-size: 22px;
                }
            }
        }
    }

    @media (max-width: $breakpointMediumMax) {
        padding-bottom: 100px;

        &::after {
            width: 500px;
            height: 500px;
        }

        >.uk-container {
            padding-left: 40px;
            padding-right: 40px;
        }

        .newsletter-box {
            &:first-of-type {
                width: 57%;
            }

            &:last-of-type {
                width: 43%;
            }
        }

        form {
            .uk-button {
                padding-right: 25px;
            }
        }
    }

    @media (max-width: $breakpointXsmallMax) {
        padding-bottom: 0;

        &::after {
            display: none;
        }

        >.uk-container {
            padding: 0;
        }

        .uk-flex {
            flex-direction: column;
        }

        .newsletter-box {
            &:first-of-type {
                width: 100%;
                padding: 45px 15px 35px;
            }

            &:last-of-type {
                min-height: 195px;
                width: 100%;
            }
        }

        h2 {
            font-size: 22px;
            margin-bottom: 15px;
        }

        form {
            .uk-input {
                padding: 27px 75px 27px 15px;
            }

            .uk-button {
                font-size: 0;
                left: auto;
                right: 0;
                width: 60px;
                min-width: 60px;
                padding: 0;

                span {
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -40%);
                }
            }
        }
    }
}
