.products-section {
    padding-bottom: 230px;

    h2 {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .uk-grid {
        margin-top: -70px;

        >* {
            padding-left: 30px;
        }
    }

    *+.uk-grid-margin,
    .uk-grid+.uk-grid,
    .uk-grid>.uk-grid-margin {
        margin-top: 30px;
    }

    .uk-card {
        padding: 25px 25px 85px 40px;

        // min-height: 100%;
        h3 {
            padding-top: 15px;
            position: relative;

            &::after {
                position: absolute;
                left: 0;
                width: 70px;
                height: 4px;
                bottom: -11px;
                content: '';
                background-color: $yellow;
            }
        }

        img {
            width: 170px;
            height: auto;
        }

        p {
            margin-top: 5px;
            font-size: 16px;
            font-family: $font-semi-bold;
        }

        .uk-button {
            min-width: 140px;
            padding: 3px 25px 1px;
            min-height: 45px;
            position: absolute;
            left: 40px;
            bottom: 35px;
        }
    }
}
