.products-section {
    padding-bottom: 230px;

    h2 {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .uk-grid {
        margin-top: -70px;

        >* {
            padding-left: 30px;
        }
    }

    *+.uk-grid-margin,
    .uk-grid+.uk-grid,
    .uk-grid>.uk-grid-margin {
        margin-top: 30px;
    }

    .uk-card {
        &::after {
            position: absolute;
            left: 0;
            width: 100%;
            top: 0;
            bottom: 0;
            content: '';
            background-image: linear-gradient(to right, $gray-shadow, transparent);
            opacity: .7;
        }
    }

    .uk-card-body {
        padding: 25px 25px 80px 40px;
        position: relative;
        z-index: 1;

        h3 {
            padding: 15px 5px 0 0;
            position: relative;
            margin-bottom: 30px;
            line-height: 1.2;

            &::after {
                position: absolute;
                left: 0;
                width: 70px;
                height: 4px;
                bottom: -15px;
                content: '';
                background-color: $yellow;
            }
        }

        img {
            width: 170px;
            height: auto;
        }

        p {
            margin-top: 5px;
            font-size: 16px;
            font-family: $font-semi-bold;
            width: 70%;
        }

        .uk-button {
            min-width: 140px;
            padding: 3px 25px 1px;
            min-height: 45px;
            position: absolute;
            left: 40px;
            bottom: 35px;
        }

        @include hover {
            .uk-button {
                background-color: transparent;

                &::before {
                    transform: translateX(0);
                }
            }
        }
    }

    @media (max-width: $breakpointMediumMax) {
        padding-bottom: 110px;

        .uk-container {
            padding-left: 85px;
            padding-right: 85px;
        }

        .uk-grid {
            margin-top: -35px;
        }

        *+.uk-grid-margin,
        .uk-grid+.uk-grid,
        .uk-grid>.uk-grid-margin {
            margin-top: 25px;
        }

        .uk-card-body {
            min-height: 310px;

            p {
                font-size: 15px;
            }
        }
    }

    @media (max-width: $breakpointXsmallMax) {
        padding-bottom: 40px;

        .uk-container {
            padding-left: 15px;
            padding-right: 15px;
        }

        .uk-grid {
            margin-top: -40px;
        }

        *+.uk-grid-margin,
        .uk-grid+.uk-grid,
        .uk-grid>.uk-grid-margin {
            margin-top: 15px;
        }

        .uk-card-body {
            padding: 20px 10px 90px 25px;
            min-height: 280px;

            h3 {
                font-size: 20px;
                padding: 0;
            }

            img {
                width: 118px;
                max-width: 118px;
            }

            p {
                width: 100%;
            }

            .uk-button {
                bottom: 40px;
                left: 25px;
            }
        }
    }
}
