.services-section {
    padding: 135px 0 130px;
    min-height: 515px;

    h2 {
        @include visually-hidden;
    }

    .uk-grid {
        margin-left: -45px;
    }

    .uk-grid>* {
        padding-left: 45px;
    }

    .services-container {
        .services-box {
            box-shadow: 0 -1px 28px -6px rgba($black, .3);
            padding: 45px 65px 45px 120px;
            color: $gray-dark;
            position: relative;
            transition: $nbSec ease-in-out;

            &::before {
                position: absolute;
                left: 40px;
                font-size: 50px;
                top: 45px;
            }

            h3 {
                color: $gray-dark;
                display: inline-block;
                position: relative;
                margin: 0;
                span:not(.font-chevron-right) {
                    font-family: $font-default;
                }
            }

            .font-chevron-right {
                display: inline-block;
                margin-left: 20px;

                &::before {
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            p {
                font-size: 16px;
            }

            @include hover {
                transform: translateY(-15px);
            }
        }

        &:first-of-type .services-box {
            background-color: rgba($white, .95);
        }

        &:last-of-type .services-box {
            background-color: rgba($yellow, .95);
        }
    }

    @media (max-width: $breakpointMediumMax) {
        padding: 65px 0 75px;

        >.uk-container {
            padding-left: 95px;
            padding-right: 95px;
        }

        *+.uk-grid-margin,
        .uk-grid+.uk-grid,
        .uk-grid>.uk-grid-margin {
            margin-top: 40px;
        }
    }

    @media (max-width: $breakpointXsmallMax) {
        padding: 60px 0 65px;

        *+.uk-grid-margin,
        .uk-grid+.uk-grid,
        .uk-grid>.uk-grid-margin {
            margin-top: 25px;
        }

        .services-container .services-box {
            padding: 90px 18px 25px 27px;

            &::before {
                font-size: 34px;
                left: 25px;
                top: 30px;
            }

            h3 {
                font-size: 22px;
            }

            .font-chevron-right::before {
                font-size: 14px;
            }

            p {
                font-size: 15px;
            }
        }
    }
}
