//----------  typography
//------------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	line-height: 1.35em;
	color: $white;

	b {
		font-family: $font-black;
	}

	.light {
		font-family: $font-light;
	}
}

h1,
h2 {
	font-family: $font-medium;
}

h3,
h4 {
	font-family: $font-black;
}

h1 {
	font-size: 47.24px;

	@media (max-width: $breakpointMediumMax) {
		font-size: 33px;
	}

	@media (max-width: $breakpointXsmallMax) {
		font-size: 24px;
	}
}

h2 {
	font-size: 47px;

	@media (max-width: $breakpointMediumMax) {
		font-size: 40px;
	}

	@media (max-width: $breakpointXsmallMax) {
		font-size: 34px;
	}
}

h3 {
	font-size: 30px;

	@media (max-width: $breakpointXsmallMax) {
		font-size: 28px;
	}
}

h4 {
	font-size: 20px;

	@media (max-width: $breakpointMediumMax) {
		font-size: 20px;
	}

	@media (max-width: $breakpointXsmallMax) {
		font-size: 18px;
	}
}

h5 {
	font-size: 15px;
	font-family: $font-black;

	@media (max-width: $breakpointMediumMax) {
		font-size: 15px;
	}
}

h6 {
	font-size: 16px;
}

p {
	font-size: 17px;

	@media (max-width: $breakpointMediumMax) {
		font-size: 15px;
	}
}

blockquote {
	padding: 0 90px;
	margin: 50px 0;

	p,
	span {
		color: $white;
		font-style: normal;
	}

	p {
		font-size: 26px;
		margin-bottom: 20px;
		text-transform: uppercase;

		&:last-of-type {
			margin-bottom: 15px;
		}
	}

	span {
		font-size: 16px;
	}

	@media (max-width: $breakpointMediumMax) {
		padding: 0 15px;

		>.uk-container {
			padding-left: 40px;
			padding-right: 40px;
		}

		p {
			font-size: 22px;
		}

		span {
			font-size: 15px;
		}
	}

	@media (max-width: $breakpointXsmallMax) {
		padding: 0 15px 0 25px;

		>.uk-container {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

ul li {
	list-style-type: none;
}

ol {
	padding-left: 0;
	counter-reset: item;
	list-style-type: none;

	li {
		padding-left: 15px;
		font-size: 17px;
		margin-bottom: 15px;

		&::before {
			content: counter(item) '. ';
			counter-increment: item;
			right: 5px;
			position: relative;
		}
	}
}

img {
	max-width: 100%;
}
