@font-face {
	font-family: 'svgicons';
	src: url('../fonts/svgicons.woff2') format('woff2'),
		url('../fonts/svgicons.woff') format('woff'),
		url('../fonts/svgicons.ttf') format('truetype');
		font-display: swap;
}

@mixin font-styles {
	font-family: 'svgicons';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	display: block;
	line-height: 1;
}

%font {
	@include font-styles;
}

@function font-char($filename) {
	$char: "";

	@if $filename == car-full {
		$char: '\E001';
	}
	@if $filename == car {
		$char: '\E002';
	}
	@if $filename == caret-down {
		$char: '\E003';
	}
	@if $filename == caret-left {
		$char: '\E004';
	}
	@if $filename == caret-right {
		$char: '\E005';
	}
	@if $filename == chevron-left {
		$char: '\E006';
	}
	@if $filename == chevron-right {
		$char: '\E007';
	}
	@if $filename == facebook {
		$char: '\E008';
	}
	@if $filename == hand-point-right {
		$char: '\E009';
	}
	@if $filename == instagram {
		$char: '\E00A';
	}
	@if $filename == linkedin {
		$char: '\E00B';
	}
	@if $filename == mail {
		$char: '\E00C';
	}
	@if $filename == paper-plane {
		$char: '\E00D';
	}
	@if $filename == phone {
		$char: '\E00E';
	}
	@if $filename == trailer {
		$char: '\E00F';
	}
	@if $filename == twitter {
		$char: '\E010';
	}
	@if $filename == wrench {
		$char: '\E011';
	}

	@return $char;
}

@mixin font($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %font;
		} @else {
			@include font-styles;
		}
		content: font-char($filename);
	}
}

[class*='font-ico'] {
	display: inline-block;
}

.font-car-full {
	@include font(car-full);
}
.font-car {
	@include font(car);
}
.font-caret-down {
	@include font(caret-down);
}
.font-caret-left {
	@include font(caret-left);
}
.font-caret-right {
	@include font(caret-right);
}
.font-chevron-left {
	@include font(chevron-left);
}
.font-chevron-right {
	@include font(chevron-right);
}
.font-facebook {
	@include font(facebook);
}
.font-hand-point-right {
	@include font(hand-point-right);
}
.font-instagram {
	@include font(instagram);
}
.font-linkedin {
	@include font(linkedin);
}
.font-mail {
	@include font(mail);
}
.font-paper-plane {
	@include font(paper-plane);
}
.font-phone {
	@include font(phone);
}
.font-trailer {
	@include font(trailer);
}
.font-twitter {
	@include font(twitter);
}
.font-wrench {
	@include font(wrench);
}
