//----------  forms
//------------------------------------------------------------------------------
// sass-lint:disable class-name-format
.uk-form-stacked {

	.uk-grid {
		margin-bottom: 20px;
	}

	.uk-button {
		min-width: 207px;
		padding-left: 40px;
	}

	@media (max-width: $breakpointMediumMax) {
		.uk-grid {
			margin-left: -15px;

			>* {
				padding-left: 15px;
			}
		}
	}

	@media (max-width: $breakpointXsmallMax) {
		h3 {
			font-size: 28px;
		}
	}
}

.InputfieldText,
.InputfieldEmail {
	margin-bottom: 15px;
}
