.nb-credit {
	font-size: 15px;
	a {
		align-items: center;
		color: $white;
		display: inline-flex;

		@include hover {
			color: $nbRed;
			text-decoration: none;
		}

		img {
			height: 1rem;
			margin-left: 20px;
		}
	}
}
