// Prevents document scrolling when the nav is open
.nb-nav-open {
	max-height: 100%;
	max-height: 100vh;
	max-width: 100%;
	max-width: 100vw;
	overflow: hidden;
}

// Prevents flicker while loading
.uk-navbar-nav[data-uk-nb-nav] {
	max-height: 80px;
	// opacity: 0;

	li {
		padding: 0 15px;

		a {
			padding: 0;
			min-height: 0;
			color: $white;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: bold;
			color: $white;
			font-family: $font-default;
		}
	}

	@media (max-width: $breakpointSmallMax) {
		max-width: 40px;
	}
}

.nb-nav {

	.uk-parent {

		>a {
			position: relative;

			.uk-icon {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	// Show nav after load
	.uk-navbar-nav {
		max-height: none;
		max-width: none;
		opacity: 1;

		.uk-nav-dropdown {
			padding-left: 0;
		}

		>li {
			.font-caret-down {
				position: relative;

				&::before {
					position: absolute;
					font-size: 12px;
					color: inherit;
					bottom: -12px;
					left: 50%;
					transform: translateX(-50%);
				}
			}

			&:last-of-type {
				padding-right: 0;

				a {
					text-align: left;
					display: inline-block;
					padding: 6px 25px;
					min-width: 160px;
					color: $black;
					font-weight: bold;
				}

				span {
					right: 20px;
					transform: translateY(-50%);

					&::before {
						content: font-char($caret-right);
					}
				}
			}
		}
	}

	&.nb-nav-desktop {

		.uk-navbar-nav {

			>.uk-parent {

				>a {
					.uk-icon {
						bottom: auto;
						left: $nbGutterSmall;
						position: relative;
						right: auto;
						top: auto;
						transform: rotate(90deg);
						transition: transform $nbSpeed;
						width: 1em;
					}

					@include hover {
						.uk-icon {
							transform: rotate(270deg);
						}
					}
				}
			}
		}

		.uk-navbar-dropdown {
			background-color: $yellow-alt;
			// margin-top: 0;
			padding: 17px 14px 14px 0;
			min-width: 250px;

			li {
				padding: 0;

				a {
					padding: 13px 30px 13px 35px;
					display: block;
					position: relative;

					&::before {
						position: absolute;
						color: inherit;
						opacity: 0;
						right: 12px;
						transition: inherit;
						top: 16px;
					}

					@include hover {
						text-decoration: none;
						background-color: $yellow-dark;
						&::before {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	&.nb-nav-mobile {
		background-color: $yellow-alt;
		border-top: 1px solid $nbOffWhite;
		height: calc(100% - 80px);
		left: 0;
		overflow: auto;
		position: fixed;
		top: 80px;
		width: 100%;
		z-index: 1001;

		.uk-navbar-nav {
			display: block;

			>li {
				padding: $ukGutter $ukGutter 0;
			}
		}

		.uk-navbar-item,
		.uk-navbar-nav>li>a,
		.uk-navbar-toggle {
			display: block;
			min-height: 0;
			padding: 0;
		}

		.uk-navbar-dropdown {
			background-color: $yellow-alt;
			box-shadow: none;
			height: 100%;
			left: 0 !important;
			padding: $ukGutter;
			top: 0 !important;
			width: 100%;

			.nb-nav-back {
				font-size: 0.9em;
			}

			.nb-nav-title {
				font-size: 1.1em;
				font-weight: 700;
				margin-top: 1em;
			}
		}
	}
}

// .uk-navbar-dropdown-nav {

// }
