//
// Theme
//

@import "_variables.scss";
@import "_mixins.scss";

// Base
@import 'base/fonts.scss';
@import 'base/typography.scss';

// Layout / Helpers
@import 'layout/_icon-font.scss';
@import 'helpers/helpers.scss';
@import 'layout/buttons.scss';
@import 'layout/forms.scss';

// UIkit
@import "uikit/base.scss";
@import "uikit/utility.scss";
@import "uikit/navbar.scss";
@import "uikit/breadcrumb.scss";
@import "uikit/form.scss";

// NB
@import "nb/nav.scss";
@import "nb/table.scss";
@import "nb/block.scss";
@import "nb/cookie.scss";
@import "nb/responsive.scss";
@import "nb/file-icon.scss";
@import "nb/legal.scss";
@import "nb/credit.scss";
@import "nb/json.scss";

// Modules
@import 'modules/banner.scss';
@import 'modules/listings-section.scss';
@import 'modules/services-section.scss';
@import 'modules/products-section.scss';
@import 'modules/newsletter-section.scss';

// Theme
@import "theme/base.scss";
@import "theme/header.scss";
@import "theme/footer.scss";
@import "theme/ie11.scss";
@import "theme/print.scss";



// Template | Remove or Integrate

// uikit/base
a, .uk-link {
	color: $nbRed;
}

.uk-link-toggle:focus .uk-link,
.uk-link-toggle:hover .uk-link,
.uk-link:hover,
a:hover {
	color: $nbRed;
}

// uikit/utility
.uk-logo {

	img {
		width: 280px;
		height: auto;
	}
}

// uikit/breadcrumb
.uk-breadcrumb > :last-child > * {
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;

	@media (max-width: $breakpointXsmallMax) {
		max-width: 128px;
	}
}

// uikit/form
.uk-input:not(.uk-form-danger),
.uk-select:not(.uk-form-danger),
.uk-textarea:not(.uk-form-danger),
.uk-checkbox:not(.uk-form-danger),
.uk-radio:not(.uk-form-danger),
.uk-checkbox:checked:not(.uk-form-danger),
.uk-radio:checked:not(.uk-form-danger) {
	border: 2px solid $nbBlack;
	padding: 24px 20px;
	font-size: 16px;
	color: $gray-shade;
	font-family: $font-default;
}

.uk-textarea:not(.uk-form-danger) {
	resize: none;
	height: 230px;
	padding: 20px;
}

// theme/footer
.footer {

	@media (max-width: $breakpointMobile) {
		font-size: 0.8rem;
	}
}

