//
// Theme
//

@import "_variables.scss";
@import "_mixins.scss";

// Base
@import 'base/fonts.scss';
@import 'base/typography.scss';

// Layout / Helpers
@import 'layout/_icon-font.scss';
@import 'helpers/helpers.scss';
@import 'layout/buttons.scss';
@import 'layout/forms.scss';

// UIkit
@import "uikit/base.scss";
@import "uikit/utility.scss";
@import "uikit/navbar.scss";
@import "uikit/breadcrumb.scss";
@import "uikit/form.scss";

// NB
@import "nb/nav.scss";
@import "nb/table.scss";
@import "nb/block.scss";
@import "nb/cookie.scss";
@import "nb/responsive.scss";
@import "nb/file-icon.scss";
@import "nb/legal.scss";
@import "nb/credit.scss";
@import "nb/json.scss";

// Modules
@import 'modules/banner.scss';
@import 'modules/listings-section.scss';
@import 'modules/services-section.scss';
@import 'modules/about-section.scss';
@import 'modules/newsletter-section.scss';
@import 'modules/products-section.scss';

// Theme
@import "theme/base.scss";
@import "theme/header.scss";
@import "theme/footer.scss";
@import "theme/ie11.scss";
@import "theme/print.scss";



// Template | Remove or Integrate

// uikit/base
a,
.uk-link {
	color: $nbRed;
}

.uk-link-toggle:focus .uk-link,
.uk-link-toggle:hover .uk-link,
.uk-link:hover,
a:hover {
	color: $nbRed;
}

// uikit/utility
.uk-logo {
	padding: 0;

	img {
		width: 280px;
		height: auto;
	}

	@media (max-width: $breakpointMediumMax) {
		img {
			max-width: 220px;
		}
	}

	@media (max-width: $breakpointXsmallMax) {
		img {
			max-width: 165px;
		}
	}
}

// uikit/breadcrumb
.uk-breadcrumb {
	margin-top: 10px;

	* {
		text-transform: uppercase;
		color: $white;
		font-size: 12.25px;
	}

	>:nth-child(n+2):not(.uk-first-column)::before {
		content: font-char($caret-right);
		font-family: 'svgicons';
		font-size: inherit;
		color: inherit;
		margin: 0 15px;
	}

	a {
		border-bottom: 1px solid $white;

		@include hover {
			color: $yellow-light;
		}
	}

	> :last-child>*,
	> :last-child>span {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: inline-block;
		vertical-align: middle;
		color: $yellow;
		font-family: $font-bold;

		@media (max-width: $breakpointXsmallMax) {
			max-width: 128px;
		}
	}

	@media (max-width: $breakpointXsmallMax) {
		li:not(:first-of-type):not(:last-of-type) {
			display: none;
		}
	}
}

// uikit/form
.uk-input:not(.uk-form-danger),
.uk-select:not(.uk-form-danger),
.uk-textarea:not(.uk-form-danger),
.uk-checkbox:not(.uk-form-danger),
.uk-radio:not(.uk-form-danger),
.uk-checkbox:checked:not(.uk-form-danger),
.uk-radio:checked:not(.uk-form-danger) {
	border: 2px solid $nbBlack;
	padding: 11px 20px;
	font-size: 16px;
	min-height: 52px;
	color: $gray-shade;
	font-family: $font-default;
}

.uk-textarea:not(.uk-form-danger) {
	resize: none;
	height: 230px;
	padding: 20px;
}

// theme/footer
.footer {

	@media (max-width: $breakpointMobile) {
		font-size: 0.8rem;
	}
}

.about-section,
.banner,
.listings-section,
.nb-main {
	@media (max-width: $breakpointMediumMax) {
		.uk-container {
			padding-left: 40px;
			padding-right: 40px;
		}

		.nb-block-form>.uk-container {
			padding-left: 20px;
			padding-right: 20px;

			.uk-container {
				padding: 0;
			}
		}
	}
}

.about-section,
.banner,
.listings-section,
.products-section,
.services-section,
.nb-main {
	@media (max-width: $breakpointXsmallMax) {
		.uk-container {
			padding-left: 13px;
			padding-right: 13px;
		}

		.nb-block-form>.uk-container {
			padding-left: 13px;
			padding-right: 13px;
		}
	}
}
